body {
    text-align: center;
    font-family: 'Courier New', monospace;
}
footer {
    margin-top: 1em;
    font-size: 0.8em;
}
h3 {
    margin-top: 0.2em;
    margin-bottom: 0.05em;
}
input{
    margin-top: 0.5em;
}
button {
    margin-top: 0.5em;
}
.gem-error {
    margin: 2em;
    padding: 1em;
    font-weight: bold;
    border-radius: 1px;
    border-style: solid;
    border-color: red;
}
.gem-url {
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 2em;
}
.gem-content {
    margin: 2em;
    padding: 1em;
    border-radius: 1px;
    border-style: solid;
    border-color: grey;
    text-align: left;
    font-family: 'Lucida Console', monospace;
}
.version {
    color: black;
    font-weight: bold;
}