/* SPDX-FileCopyrightText: 2021-2022 Contributors of gemportal */
/* SPDX-License-Identifier: AGPL-3.0-only */

.theme {
    background: #eee;
    color: black;
}

.control a:link,
.control a:visited,
.control a:hover,
.control a:active {
    color: black;
}

@media (prefers-color-scheme: dark) {
    .theme {
        background: #333;
        color: #f4f4f4;
    }

    .control a:link,
    .control a:visited,
    .control a:hover,
    .control a:active {
        color: #f4f4f4;
    }

    /* Override default link colors */
    a:link {
        color: #aaaaee;
    }

    a:visited,
    a:hover,
    a:active {
        color: #f4f4f4;
    }
}

body {
    text-align: center;
    font-family: 'Courier New', monospace;
    overflow-y: scroll;
}

footer {
    margin-top: 1em;
    font-size: 0.8em;
}

h3 {
    margin-top: 0.2em;
    margin-bottom: 0.05em;
}
input{
    margin-top: 0.5em;
}
button {
    margin-top: 0.5em;
}

.control a,
.title:link,
.title:visited,
.title:hover,
.title:active {
    text-decoration: none;
}
.gem-error {
    margin: 2em;
    padding: 1em;
    font-weight: bold;
    border-radius: 1px;
    border-style: solid;
    border-color: red;
}
.gem-input {
    margin: 2em;
    padding: 1em;
    border-radius: 1px;
    border-style: solid;
    border-color: forestgreen;
}

.gem-content {
    margin: 2em;
    padding: 1em;
    border-radius: 1px;
    border-style: solid;
    border-color: grey;
    text-align: left;
    font-family: 'Lucida Console', monospace;
}

.source-link:hover {
    text-decoration: underline;
}

.version {
    font-weight: bold;
}