<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .Cfg.AppName }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ .Cfg.BaseHREF }}static/style.css">
        <script>const BASE_HREF = '{{ .Cfg.BaseHREF }}';</script>
    </head>
    <body>
        <h1>{{ .Cfg.AppName }}</h1>
        <p><b>Easy</b> Gemini HTTP portal for port {{ .Cfg.DefaultPort }}.</p>

        <form onsubmit="return onSubmit()">
            <label for="idUrl" hidden>Query</label>
            <input id="idUrl" type="text" size="50" placeholder="{{ .Cfg.InputPlaceholder }}" value="{{ .PrettyPrintGemURL }}" required>
            <br>
            <input id="idInsecure" type="checkbox" onclick="return onUnsafeCheck()" {{ if .Insecure }}checked{{ end }}>
            <label for="idInsecure">Disable TLS checks</label>
            <br>
            <button>Read</button>
        </form>
        <script src="{{ .Cfg.BaseHREF }}static/app.js"></script>

        {{ if .GemError }}
        <div class="gem-error">
            {{ .GemError }}
        </div>
        {{ else if .GemInputMeta }}
        <div class="gem-input">
            <p>Input requested:</p>
            <form>
                <input id="input" name="query" placeholder="{{ .GemInputMeta }}" />
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
        {{ else if .GemContent }}
        <div class="gem-content">
            {{ .GemContent }}
        </div>
        {{ end }}

        <footer>
            <a href="https://github.com/JVMerkle/gemportal" title="Source Code" target="_blank" rel="noreferrer noopener">{{ .Cfg.AppName }}</a>
            {{ if .Cfg.GetAppBuildMeta }}
                <span class="version" title="{{ .Cfg.GetAppVersion }}+{{ .Cfg.GetAppBuildMeta }}">v{{ .Cfg.GetAppVersion }}</span>
            {{ else }}
                <span class="version" title="{{ .Cfg.GetAppVersion }}">v{{ .Cfg.GetAppVersion }}</span>
            {{ end }}
        </footer>
    </body>
</html>
