<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .Cfg.AppName }}</title>
        <link rel="stylesheet" href="{{ .Cfg.BaseHREF }}static/style.css">
        <script>var BASE_HREF = '{{ .Cfg.BaseHREF }}';</script>
    </head>
    <body>
        <h1>{{ .Cfg.AppName }}</h1>
        <p><b>Easy</b> Gemini HTTP portal for port {{ .Cfg.DefaultPort }}.</p>

        <form onsubmit="return onSubmit()">
            <input id="idUrl" type="text" size="50" placeholder="gemini.circumlunar.space/docs/" value="{{ .PrettyPrintGemURL }}" required>
            <br>
            <input id="idUnsafe" type="checkbox" {{ if .DisableTLSChecks }}checked{{ end }}>
            <label for="idUnsafe">Disable TLS checks <small>(Unsafe)</small></label>
            <br>
            <button>Read</button>
        </form>
        <script src="{{ .Cfg.BaseHREF }}static/app.js"></script>

        {{ if .GemError }}
        <div class="gem-error">
            {{ .GemError }}
        </div>
        {{ else if .GemContent }}
        <div class="gem-content">
            {{ .GemContent }}
        </div>
        {{ end }}

        <footer>
            <a href="https://github.com/JVMerkle/gemportal" title="Source Code" target="_blank" rel="noreferrer noopener">{{ .Cfg.AppName }}</a>
            <span class="version" title="{{ .Cfg.GetAppVersion }}+{{ .Cfg.GetAppBuildMeta }}">v{{ .Cfg.GetAppVersion }}</span>
        </footer>
    </body>
</html>